# Dependencies
node_modules/
__pycache__/
*.py[cod]

# Environments
.env
.env.local
backend/.env

# Build outputs
.next/
out/
dist/
build/
target/   # For your Spring Boot / Java projects

# OS files
.DS_Store